<ng-include src="assets/pages/loading.html"></ng-include>

<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><a href="#/">Dashboard</a></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
  		<div class="panel panel-default">
			<div class="panel-heading">Restaurants</div>
 			<div class="panel-body">
 				<div class="row">
 					<div class="col-md-6"></div>
 					<div class="col-md-3"><strong>active orders</strong></div>
 					<div class="col-md-3"><strong>total users</strong></div>
 				</div>
 				<div class="row" ng-repeat="r in restaurants">
 					<div class="col-md-6"><a ng-href="#/restaurant/{{r.id}}">{{ r.name }}</a></div>
 					<div class="col-md-3">{{ r.orders }}</div>
 					<div class="col-md-3">{{ r.users }}</div>
 				</div>
 			</div>
 			<div class="panel-footer text-right">
 				<button class="btn btn-xs btn-success" ng-click="">Add Restaurant</button>
 			</div>
 		</div>
	</div>
 	<div class="col-md-6">
  		<div class="panel panel-default">
		<div class="panel-heading">Users</div>
  			<div class="panel-body">
  				<div class="row">
 					<div class="col-md-6">Brampton</div>
 					<div class="col-md-3">532</div>
 					<div class="col-md-3">1,421</div>
 				</div>
  			</div>
		</div> 				
 	</div>
 </div>